body {
    /* 是 body 的原因是部分设置是对于整个页面（body）的，而不是每个 element */
    text-align: center;
    font-family: 'Microsoft YaHei UI', 'PingFang SC';
    margin: 30px;
    background-image: url('1.png');
    background-size: cover;
    color: white;
}

h1 {
    font-size: 80px;
}

::selection {
    background-color: #1e90ff;
    color: white;
}

a {
    text-decoration: none;
    color: #369;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    background-color: lightgray;
    padding: 20px;
}

var {
    background-color: darkgray;
    color: blue;
}

.small {
    width: 64px;
    height: 64px;
}

#ian {
    font-size: 20px;
}
