body {
    /* 是 body 的原因是部分设置是对于整个页面（body）的，而不是每个 element */
    text-align: center;
    font-family: '更纱黑体 SC', 'Microsoft YaHei UI', 'PingFang SC';
    margin: 30px;
    background-color: skyblue;
}

h1 {
    font-size: 80px;
}

::selection {
    background-color: #1e90ff;
    color: white;
}

.button-container {
    width: 300px;
    height: 120px;
    border-radius: 15px;
    background-color: darkblue;
    cursor: pointer;
    transition: background-color 1s;
    color: white;
}

.button-container:hover {
    background-color: blue;
}

.button-container a {
    line-height: 120px;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: white;
}
