body {
    /* 是 body 的原因是部分设置是对于整个页面（body）的，而不是每个 element */
    text-align: center;
    font-family: 'Microsoft YaHei UI', 'PingFang SC';
    margin: 30px;
    background-image: url('1.jpg');
    background-size: cover;
}

h1 {
    font-size: 80px;
}

::selection {
    background-color: #1e90ff;
    color: white;
}

a {
    text-decoration: none;
    color: #369;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    background-color: lightgray;
    padding: 20px;
}

var {
    background-color: darkgray;
    color: blue;
}

.small {
    width: 40px;
    height: 40px;
}

#ian {
    font-size: 20px;
}

.menubar {
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: '更纱黑体 SC', '微软雅黑';
    font-style: bold;
    height: 30px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: left;
}

.menubar .icon {
    position: relative;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
}

.menubar .icon, .menubar .item-icon, .menubar .item {
    cursor: pointer;
}

.menubar .item-icon {
    position: relative;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
}

.menubar .subitem {
    display: none;
}

#accounts:hover .subitem {
    display: block;
}

#accounts .subitem {
    list-style-type: none;
    text-align: left;
    background-color: antiquewhite;
    color: lightgray;
    width: 50px;
    height: 40px;
    margin-left: 30px;
    margin-top: 6px;
}
