body {
    /* 使用系统默认字体 */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(#c6efc8, #b2e4ed);
    margin: 0px;    /* 不然在上下移动 body 时候边缘会留白，很不美观 */
    animation: load 0.3s;
}

@keyframes load {   /* 通过动画来掩盖那一点点的 Javascript 延迟 */
    0% {
        opacity: 0.6;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

::selection {
    background-color: #5bbab8;
}

#navbar {
    /* 横向占满整个屏幕 */
    width: 100vw;
    padding: 10px 0px;
    background: linear-gradient(#2a961e, #0c6f30);
}

#navbar a {
    /* 导航栏的每个按钮 */
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-right: 1px #c0c0c0 solid;
}

#main {
    width: calc(100vw - 20px);
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-size: x-large;
    font-weight: normal;
}

thead {
    background-color: #aaa;
}

tbody {
    background-color: #ccc;
}

th, td {
    font-size: large;
    padding: 5px;
}

p {
    line-height: 25px;
}

a {
    color: #369;
}

button {
    cursor: pointer;
    background-color: #7ab1e7;
    border: 0px;
}

input {
    border: 1px solid #dfdfdf;
    font-family: inherit;   /* 使用父元素的字体 */
}

button, input {
    margin: 0px 8px;        /* 横向 margin，这样就有间隔了 */
    font-size: inherit;     /* 使用父元素的字体大小，就是和 <p> 等元素一样的大小 */
    outline: 0px solid #4e839d;
    transition: outline 0.2s;
    border-radius: 5px;
}

button:focus, input:focus {
    outline: 4px solid #4e839d;
}

checkbox {
    cursor: pointer;
}

.group {
    width: 300px;
    height: 100%;           /* 这个选项很玄学啊，不管设百分之多少都是恰好文字占满，不然就是所有 .group 和最高的那个一样高 */
    border: 1px #999 solid;
    background-color: #e0e0e0;
    transition: background-color 0.5s;
    border-radius: 10px;    /* 边缘有 10px 是弧线 */
}

.group:hover {
    background-color: #d7f8e5;
    animation: moveUp 0.2s;
    top: -5px;
}

@keyframes moveUp {                     /* 上下弹跳 */
    0% {
        transform: translateY(0px);     /* 初始位置 */
    }
    50% {
        transform: translateY(-5px);    /* 一半（0.1s）时到达最上面 */
    }
    100% {
        transform: translateY(0px);     /* 回到初始位置 */
    }
}

.group .title {
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(#ddd, #ccc);
}

.group p {
    padding: 0px 10px;
}

.box {
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000033;
}

.title {
    font-weight: bold;
}

#note {
    position: absolute;         /* 这个位置刚好是备案信息的上面 */
    left: 0px;
    bottom: 60px;
}

#icp {
    position: absolute;         /* 备案信息左下角对准窗口左下角 */
    left: 0px;
    bottom: 0px;
    width: 100vw;               /* 横向撑满窗口 */
    background-color: #333;
    color: #fff;
    font-size: x-large;
    text-align: center;         /* 文字居中对齐 */
}

#icp a {
    line-height: 60px;          /* 设置这个直接让备案信息纵向居中对齐 */
    color: #fff;
    font-weight: bold;
}
